<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<META http-equiv="Content-Type" content="text/html; charset=utf-8">
<title>WangID通城</title>
<link rel="stylesheet" type="text/css" href="css/index.css">
 <script src="js/jquery-1.11.3.min.js" ></script>
<script src="js/index.js" ></script> 
<!-- <script type="text/javascript" src="js/jquery1.42.min.js"></script> -->

<script type="text/javascript" src="js/jquery-1.11.1.min.js"></script>
<script type="text/javascript" src="js/jquery.SuperSlide.2.1.1.source.js"></script>
</head>
<body>
<!--侧边-->
<div class="jdm-toolbar-wrap J-wrap">                
	<div class="jdm-toolbar J-toolbar">                    
		<div class="jdm-toolbar-panels J-panel"></div>                                       
		<div class="jdm-toolbar-tabs J-tab">
			<div data-type="bar" class="J-trigger jdm-toolbar-tab jdm-tbar-tab-ger">                                
				<i class="tab-ico"></i>
				<a class="tab-text" th:href="userzx">个人中心</a>
			</div>                           
			<div data-type="bar" class="J-trigger jdm-toolbar-tab jdm-tbar-tab-cart">                                
				<i class="tab-ico"></i>
				<a class="tab-text" th:href="${session.user != null ? 'userc': 'dengl' }">购物车</a>
			</div>                           
			<div data-type="bar" clstag="h|keycount|cebianlan_h_follow|btn" class="J-trigger jdm-toolbar-tab jdm-tbar-tab-follow" data-name="follow" data-login="true">                                
				<i class="tab-ico"></i>
				<a class="tab-text" th:href="${session.user != null ? 'wod_shouc':'dengl'}">我的收藏</a>
			</div>                                             
		</div>                          
		<div class="J-trigger jdm-toolbar-tab jdm-tbar-tab-message" data-name="message"><a target="_blank" href="#">
			<i class="tab-ico"></i>                                
			<em class="tab-text">我的消息                                
			</em></a>                                                
		</div>            
	</div>                    
	<div class="jdm-toolbar-footer">                        
		<div data-type="link" id="#top" class="J-trigger jdm-toolbar-tab jdm-tbar-tab-top">                                
			<a href="#" clstag="h|keycount|cebianlan_h|top">                                
				<i class="tab-ico"></i>
				<em class="tab-text">顶部</em>                                
			</a>                         
		</div>             
	</div>                    
	<div class="jdm-toolbar-mini"></div>              
	<div id="J-toolbar-load-hook" clstag="h|keycount|cebianlan_h|load"></div>            
</div> 


<!--头部-->
<div id="header">
	<div class="header-box">
		<h3 class="huany">WangID本地购物商城欢迎您的到来！</h3>
		<ul class="header-left"> 
			<li class="bj">
				<a class="dib" href="#">贵阳市</a>
				<i class="ci-leftll">
					<s class="jt">◇</s>
				</i>
				<div class="bj-1">
					<h3>热门城市：</h3>
					<a href="">北京</a><a href="">上海</a><a href="">天津</a><a href="">重庆</a><a href="">河北</a><a href="">山西</a><a href="">河南</a><a href="">辽宁</a><a href="">吉林</a><a href="">黑龙江</a><a href="">浙江</a><a href="">江苏</a><a href="">山东</a><a href="">安徽</a><a href="">内蒙古</a><a href="">湖北</a><a href="">湖南</a><a href="">广东</a><a href="">广西</a><a href="">江西</a><a href="">四川</a><a href="">海南</a><a href="">贵州</a><a href="">云南</a><a href="">西藏</a><a href="">陕西</a><a href="">甘肃</a><a href="">青海</a><a href="">宁夏</a><a href="">新疆</a><a href="">台湾</a><a href="">香港</a><a href="">澳门</a><a href="">海外</a><a href="qieh_cs.html">全部+</a>
				</div>
			</li>					
		</ul>
		<ul class="header-right">
			<li class="denglu" >Hi~<a class="red" th:href="${session.user != null ?'listmydingdan':'dengl'}" th:text="${session.user != null ? session.user.uname:'请登录'}">请登录</a> <a th:href="zhuc">[免费注册]</a></li>
			<li class="shu"></li>
			<li class="denglu"><a class="ing_ps"  th:href="${session.user !=null ? 'wod_shouc' : 'dengl'}">我的收藏</a></li>
			<li class="shu"></li>
			<li class="denglu"><a class="ing_ps ps1" th:href="shenq_ruz">申请入驻</a></li>
			<li class="shu"></li>
			<li class="denglu"><a class="ing_ps ps2" th:href="bangz_zhongx">帮助中心</a></li>
			<li class="shu"></li>
			<li class="shouji bj">
				<a class="ing_ps ps3" href="#">手机通城</a>
				<i class="ci-right ">
					<s class="jt">◇</s>
				</i>
				<div class="shouji1">
					<img src="images/mb_wangid.png" class="shouji4">
					<div class="shouji2">
						<p>通城客户端</p>
						<p class="red">首次下单满79元，送79元</p>
					</div>
					<div class="yi">
						<img src="images/mb_wangid.png" class="shouji4">
						<div class="er">
							<p>通城微信公众号</p>
							<p class="red">关注通城公众号的积分，换大礼</p>
						</div>
					</div>
				</div>
			</li> 
		</ul>
	</div>
</div>
<!--搜索栏-->
<div class="toub_beij">
	<div class="logo"><a href="./"><img src="./images/logo.png" ></a></div>
	<div class="search">
		<input type="text" value="家电一折抢" class="text" id="textt">
		<button class="button">搜索</button>
	</div>
	<div class="right">
		<i class="gw-left"></i>
		<i class="gw-right"></i>
		<div class="sc">
			<i class="gw-count">0</i>
			<i class="sd"></i>
		</div>
		<a th:href="${session.user != null ? 'gouw_che':'dengl'}">我的购物车</a>
		<div class="dorpdown-layer">
			<ul>
				<li class="meiyou">
					<img src="./images/settleup-nogoods.png">
					<span>购物车中还没有商品，赶紧选购吧！</span> 
				</li>
			</ul>
		</div>
	</div>
	<div class="hotwords">
		<a class="biaoti">热门搜索：</a>
		<a href="#">新款连衣裙</a>
		<a href="#">四件套</a>
		<a href="#">潮流T恤</a>
		<a href="#">时尚女鞋</a>
		<a href="#">乐1</a>
		<a href="#">特步女鞋</a>
		<a href="#">威士忌</a>
	</div>
</div>          


<!--轮播图上方导航栏  一栏-->
<div id="navv">	
	<div class="focus">
		<div class="focus-a">
			<div class="fouc-font" style="background-color: #ed1814;color: white" ><a href="">全部商品分类</a> </div>
		</div>
		<div class="focus-b">
			<ul>
				<li><a href="#">商城首页</a></li>
				<li><a href="#">本地生活</a></li>
				<li><a href="#">团购专区</a></li>
				<li><a href="#">积分商城 </a></li>
				<li><a href="#">分销系统</a></li>
				<li><a href="#">办公耗材</a></li>
				<li><a href="#">饰品礼品</a></li>
				<li><a href="#">休闲娱乐</a></li>
			</ul>
		</div>


		<!--左边导航-->
		<div class="dd-inner">
			<div class="font-item" th:each="onelist,userStat:${list}">
				<div class="item fore1">
					<h3 >
						<a  class="da_zhu" href="#" th:text="${onelist.sponename}">办公家具</a>
					</h3>
					<i>></i>
				</div>
				<div class="font-item1">
					<div class="font-lefty">
						<dl class="fore1" th:each="twolist,userStat:${onelist.twolist}">
							<dt><a href="" th:text="${twolist.sptwoname}">大家电<i>></i></a></dt>
							<dd>
								<a href="" th:each="threelist,userStat:${twolist.threelist}" th:text="${threelist.spthreename}">平板电视</a>
							</dd>
						</dl>
					</div>

					<div class="font-righty">
						<a href="#">
							<img src="./images/5673a854N10856704.jpg">
						</a>
						<a href="#">
							<img src="./images/56a0376aN7de1bdcf.jpg">
						</a>
					</div>
				</div>
			</div>
			
			<!---->
		</div>
	</div>
</div>

<!--轮播图-->
<div id="lunbo">
	<ul id="one">
		<li th:each="nplist,npStat:${navigationPhotoList}"><a th:href="@{store(storeid=${nplist.storeid})}"><img th:src="${'images/img/'+nplist.npfile}" th:width="1920px" th:height="451px"></a></li>
	</ul>
	<ul id="two">
		<li class="on">1</li>
		<li th:each="nplist,npStat:${navigationPhotoList}" th:text="${npStat.index+1}">2</li>
	</ul>
	<!--轮播图左右箭头-->
	<div class="slider-page">
		<a href="javascript:void(0)" id="left"><</a>
		<a href="javascript:void(0)" id="right">></a>
	</div>
</div>

<!--内容一开始了-->
<div class="bend_beij">
	<!--本地生活-->
	<div class="bend_dhengh">
		<div class="neir_biaot">
			<p>本地生活</p>
			<p class="yingw">Local life</p>
		</div>
		<div class="jiank_meis">
			<div class="kuang_1">
				<a href="#">
					<img src="images/jiank_meis.jpg">
					<div class="jiank_meis_wenz">
						<p>健康美食</p>
						<span>让生活&nbsp;&nbsp;更健康&nbsp;&nbsp;更美味&nbsp;&nbsp;更舒心</span>
					</div>	
				</a>
			</div>
			<div class="dianq_qvy">
				<div class="shiq">
					<h2>全部区域</h2>
					<ul>
						<li><a href="#">云岩区</a></li>
						<li><a href="#">南明区</a></li>
						<li><a href="#">白云区</a></li>
						<li><a href="#">乌当区</a></li>
						<li><a href="#">花溪区</a></li>
						<li><a href="#">清镇市</a></li>
						<li><a href="#">开阳县</a></li>
						<li><a href="#" class="hide">开阳县</a></li>
						<li><a href="#" class="hide">开阳县</a></li>
						<li id="show">更多 </li>
					</ul>
				</div>
				<div class="ktv_jiub">
					<ul>
						<li><a href="#">KTV/酒吧</a></li>
						<li><a href="#">周边游</a></li>
						<li><a href="#">生活服务</a></li>
						<li><a href="#">真人CS</a></li>
						<li><a href="#">中医养生</a></li>
						<li><a href="#">体检/齿科</a></li>
						<li><a href="#">棋牌室</a></li>
						<li><a href="#">洗浴/汗蒸</a></li>
					</ul>
				</div>
			</div>
			<div class="lunb_t">
		    	<div class="picScroll_left_1">
					<div class="bd">
						<ul class="picList">
							<li>
								<div class="pic"><a href="#" target="_blank"><img src="images/lengy.jpg" /></a></div>
								<div class="title"><a href="#" target="_blank">卡通美食冷饮</a><span>卡通美食冷饮全家福三人分</span><p>￥6.00</p></div>
							</li>
							<li>
								<div class="pic"><a href="#" target="_blank"><img src="images/lengy.jpg" /></a></div>
								<div class="title"><a href="#" target="_blank">卡通美食冷饮</a><span>卡通美食冷饮全家福三人分</span><p>￥6.00</p></div>
							</li>
							<li>
								<div class="pic"><a href="#" target="_blank"><img src="images/lengy.jpg" /></a></div>
								<div class="title"><a href="#" target="_blank">卡通美食冷饮</a><span>卡通美食冷饮全家福三人分</span><p>￥6.00</p></div>
							</li>
						</ul>
					</div>
					<div class="hd">
						<ul></ul>
					</div>
				</div>
				<script type="text/javascript">
			jQuery(".picScroll_left_1").slide({titCell:".hd ul",mainCell:".bd ul",autoPage:true,effect:"left",autoPlay:true,vis:1,trigger:"click"});
			</script>

			</div>
		</div>
		<div class="toum_">
			<ul>
				<li><a href="#"><img src="images/jiudi_kez.jpg">
						<div class="jiank_meis_wenz_1">
							<p>健康美食</p>
						</div>	
					</a>
				</li>
				<li class="sdfs"><a href="#"><img src="images/xiux_yvl.jpg">
						<div class="jiank_meis_wenz_1">
							<p>休闲娱乐</p>
						</div>	
					</a>
				</li>
				<li><a href="#"><img src="images/liren.jpg">
						<div class="jiank_meis_wenz_1">
							<p>丽人</p>
						</div>	
					</a>
				</li>
			</ul>
		</div>
	</div>
	<!--周边-->
	<div class="zhoub">
		<div class="neir_biaot">
			<p>周边</p>
			<p class="yingw">periphery</p>
		</div>
		<div class="zhoub_neir">
			<ul>
				<li><a href="#"><img src="images/zoub.jpg"></a></li>
				<li><a href="#"><img src="images/zoub2.jpg"></a></li>
				<li><a href="#"><img src="images/zoub3.jpg"></a></li>
			</ul>
		</div>
	</div>
	
</div>

<!--快速通道栏-->
<div class="kuanjlan">
	<ul class="clearfix">
            <li>
                <div class="list-li-box">
                    <a class="list-img" href="#" data-code="index01004-1" target="_blank">
                        <img src="images/meinv_1.jpg">
                        <span class="list-bg"></span>
                        <div class="list-cont">
                            <p class="cont-item"><span>羽饰</span></p>
                            <p class="cont-tile">秋季来点羽毛元素</p>
                            <p class="cont-info">让你更加美丽迷人</p>
                        </div>
                    </a>
                </div>
                
            </li>
            <li>
                <div class="list-li-box">
                    <a class="list-img" href="#" data-code="index01004-2" target="_blank">
                        <img src="images/meinv_2.jpg">
                        <span class="list-bg"></span>
                        <div class="list-cont">
                            <p class="cont-item"><span>原宿风</span></p>
                            <p class="cont-tile">个性夸张美衣</p>
                            <p class="cont-info">潮流原宿风</p>
                        </div>
                    </a>
                </div>
                
            </li>
            <li>
                <div class="list-li-box">
                    <a class="list-img" href="#" data-code="index01004-3" target="_blank">
                        <img src="images/meinv_3.jpg">
                        <span class="list-bg"></span>
                        <div class="list-cont">
                            <p class="cont-item"><span>皮裤</span></p>
                            <p class="cont-tile">高腰修身皮裤</p>
                            <p class="cont-info">轻松享受女神感觉</p>
                        </div>
                    </a>
                </div>
                
            </li>
            <li>
                <div class="list-li-box">
                    <a class="list-img" href="#" data-code="index01004-4" target="_blank">
                        <img src="images/meinv_4.jpg">
                        <span class="list-bg"></span>
                        <div class="list-cont">
                            <p class="cont-item"><span>服装</span></p>
                            <p class="cont-tile">变身女神范儿</p>
                            <p class="cont-info">几种搭配轻松打造</p>
                        </div>
                    </a>
                </div>
            </li>
        </ul>
</div>


<!--层次-->
<div class="chengc_jvz" th:each="one2list,mlistStat:${list2}">
	<div class="slideTxtBox">
		<div class="hd">
			<h1>
				<p th:text="${one2list.sponename}">办公家具</p>
				<p class="yingw_">Office furniture</p>
			</h1>
			<ul><li th:each="two2list,mlistStat:${one2list.two2list}" th:text="${two2list.sptwoname}">精品热卖</li></ul>
		</div>
		<div class="bd">
			<ul th:each="two2list,mlistStat:${one2list.two2list}">
				<div class="louc_tup_qieh">
					<div class="js-silder ws-slider">
						<div class="silder-scroll">
							<div class="silder-main">
								<div class="silder-main-img" th:each="prolist,dasStat:${one2list.navigationPhotoList}">
									<a href="#"><img th:src="${'images/img/'+prolist.npfile}" alt=""></a>
								</div>
							</div>
						</div>
						<div class="js-silder-ctrl">
							<span class="silder-ctrl-prev"></span>
							<span class="silder-ctrl-next"></span>
						</div>
					</div>
					<div class="kuas_daoh" >
							<a href="#" th:each="three2list,mlistStat:${one2list.three2list}" th:text="${three2list.spthreename}">客厅餐厅</a>
					</div>
				</div>
				<div class="you_lirb">
					<div class="shang_buf">
						<div class="you_shangp_lieb " th:each="p2list,mlistStat:${two2list.productList}">
							<a th:href="@{shangp_xiangq(productid=${p2list.pcode})}"><img  class="you_tup_k" th:src="${p2list.pphoto}" width="212px" height="158px"></a>
							<a th:href="@{shangp_xiangq(productid=${p2list.pcode})}" th:text="${p2list.pintroduce}">林氏木业简约现代真皮转角客厅头层牛皮沙发家具2036</a>
							<span th:text="${'¥'+p2list.pprice}">¥ 2599 .00</span>
						</div>
                    </div>
				</div>
			</ul>

		</div>
	</div>
</div>
<script type="text/javascript">jQuery(".slideTxtBox").slide();</script>
<!--广告图-->
<div class="guangg_tu">
	<a href="#"><img src="images/guang_tu.jpg"></a>
</div>


<!--特色商品/ 热门商品-->

<div class="tes_shnagp_beij">
	<div class="tes_shangp">
		<div class="neir_biaot">
			<p>特色商品</p>
			<p class="yingw">featured</p>
			<a href="#">MORE+</a>
		</div>
		<div class="tes_shangp_neir_k">
			<div class="tes_dat">
				<a href="#">
					<h1><img class="tes_dat_dongh" src="images/te_se_shangp_da.jpg"></h1>
					<h2>苹果手机iPhone6(32G)全网</h2>
					<span>¥ 4999 .00</span>
				</a>
			</div>
			<div class="tes_xiaot_beij">
				<div class="tes_xiaot_shang">
					<div class="tes_xiaot_neir">
						<a href="#">
							<h1><img class="tes_xiaot_dongh" src="images/tes_shangp_xiao.jpg"></h1>
							<h2>海尔(Haier) BCD452WDPF 452</h2>
							<span>¥ 506 .00</span>
						</a>
					</div>
					<div class="tes_xiaot_neir tes_xiaot_wubian_kuang">
						<a href="#">
							<h1><img class="tes_xiaot_dongh" src="images/tes_shangp_xiao2.jpg"></h1>
							<h2>海尔(Haier) BCD452WDPF 452</h2>
							<span>¥ 506 .00</span>
						</a>
					</div>
				</div>
				<div class="tes_xiaot_shang tes_xiaot_xia">
					<div class="tes_xiaot_neir">
						<a href="#">
							<h1><img class="tes_xiaot_dongh" src="images/tes_shangp_xiao3.jpg"></h1>
							<h2>海尔(Haier) BCD452WDPF 452</h2>
							<span>¥ 506 .00</span>
						</a>
					</div>
					<div class="tes_xiaot_neir tes_xiaot_wubian_kuang">
						<a href="#">
							<h1><img class="tes_xiaot_dongh" src="images/tes_shangp_xiao4.jpg"></h1>
							<h2>海尔(Haier) BCD452WDPF 452</h2>
							<span>¥ 506 .00</span>
						</a>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="rem_shangp">
		<div class="neir_biaot">
			<p>热门商品</p>
			<p class="yingw">Hot commodity</p>
			<a href="#">MORE+</a>
		</div>
		<div class="rem_shangp_beij_k">
			<!---->
			<div class="picScroll_left">
				<div class="hd"> 
					<ul></ul> 
				</div>
				<div class="bd">
					<ul class="picList">
						<li th:each="opList,proStat:${orderProductList}">
							<div class="pic"><a href="#" target="_blank"><img th:src="${opList.product.pphoto}"/></a></div>
							<div class="title"><a href="#" target="_blank" th:text="${opList.product.pname}">佳能(Canon)EOS80D单反套机</a><span th:text="${opList.product.pprice}">¥ 506 .00</span></div>
						</li>
					</ul>
				</div>
			</div>
			<!---->
		</div>
	</div>
</div>

<script type="text/javascript">
		jQuery(".picScroll_left").slide({titCell:".hd ul",mainCell:".bd ul",autoPage:true,effect:"left",autoPlay:true,vis:2 ,trigger:"click"});
		</script>

<!--底部-->
<div class="dib_beij">
	<div class="dib_jvz_beij">
		<div class="shangp_baoz">
			<p>本地购物&nbsp;&nbsp;看得见的商品</p>
			<p class="beng1">正品行货&nbsp;&nbsp;购物无忧</p>
			<p class="beng2">低价实惠&nbsp;&nbsp;帮你省钱</p>
			<p class="beng3">本地直发&nbsp;&nbsp;专业配送</p>
		</div>
		<div class="zhongj_youx">
			<div class="lieb_daoh">
				<h4>物流配送</h4>
				<ul>
					<li><a href="#">配送查询</a></li>
					<li><a href="#">配送服务</a></li>
					<li><a href="#">配送费用</a></li>
					<li><a href="#">配送时效</a></li>
					<li><a href="#">签收与验货</a></li>
				</ul>
			</div>
			<div class="lieb_daoh">
				<h4>支付与账户</h4>
				<ul>
					<li><a href="#">货到付款</a></li>
					<li><a href="#">在线支付</a></li>
					<li><a href="#">门店支付</a></li> 
					<li><a href="#">账户安全</a></li>
				</ul>
			</div>
			<div class="lieb_daoh">
				<h4>购物帮助</h4>
				<ul>
					<li><a href="#">购物保障</a></li>
					<li><a href="#">购物流程</a></li>
					<li><a href="#">焦点问题</a></li>
					<li><a href="#">联系我们</a></li> 
				</ul>
			</div>
			<div class="lieb_daoh">
				<h4>售后服务</h4>
				<ul>
					<li><a href="#">退换货服务</a></li>
					<li><a href="#">退款说明</a></li>
					<li><a href="#">专业维修</a></li>
					<li><a href="#">延保服务</a></li>
					<li><a href="#">家电回收</a></li>
				</ul>
			</div>
			<div class="lieb_daoh">
				<div class="kef_dianh">
					<p>客服电话</p><span>13975421416</span>
				</div>
				<div class="kef_dianh kef_dianh_youx">
					<p>意见收集邮箱</p><p>Ask@wangid.com</p>
				</div>
			</div> 
			<div class="lieb_daoh lieb_daoh_you">
				<div class="erw_ma_beij">
					<div class="erw_m">
						<h1><img src="images/mb_wangid.png"></h1>
						<span>扫码下载通城客户端</span>
					</div>
					<div class="erw_m">
						<h1><img src="images/mb_wangid.png"></h1>
						<span>扫码下载通城客户端</span>
					</div>
				</div>
			</div> 
		</div>
		<div class="beia_hao">
			<p>京ICP备：14012449号 黔ICP证：B2-20140009号  </p>
			<p class="gonga_bei">京公网安备：11010602030054号</p>
			<div class="renz_">
				<span></span>
				<span class="span1"></span>
				<span class="span2"></span>
				<span class="span3"></span>
			</div>
		</div>
	</div>
</div>
</body>
</html>